* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box ;
 }

.todo-list {
    text-align: center;
}

.todo-input {
    margin-bottom: 16px;    
    
}

.todo-input-inside {
    border-radius: 6px;
    padding: 12px 20px;
    margin: 10px 0px;
}
/* 
.todo-button-inside {
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 40px;  
}

.todo-button-remove-inside {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: aqua;
    margin-bottom: 10px;
} */

.submit-button{
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: orange;
    margin-top: 14px;
}

/* .border-head{
    border-bottom: 1px solid green;
    padding: 5px;
}
.border {
    border: 1px solid black;
} */
/* 
.tableSet{
    margin: 0px auto;
    width: 125px;
}

.border1{
    border: 2px solid black;
} */