

<h1> Todo List</h1>
<div class="todo-list">

    <div class="todo-input">
    <input type="text" placeholder="Enter your daily routine" class="todo-input-inside" #task>
  </div>

  <div>
    <button class="btn btn-success submit-button" (click)="addTask(task.value)">Submit</button>
  </div>
</div>












<!--  
  <div class="todo-remove">
  <ul *ngFor = "let item of list">
    <li>
      {{item.name}} &nbsp;
      <button (click) = 'editTask(item.id)' class="todo-button-remove-inside"> Edit</button>
      <button (click) = 'removeTask(item.id)' class="todo-button-remove-inside"> Delete</button>
    </li>
  </ul>
</div> -->
<!-- 

<div class="tableSet">
  <table>
    <tr>
      <th class="border-head">Tasks</th>
      <th class="border-head">Actions</th>
    </tr>
    <tr *ngFor="let item of list; let i=index">
      <td class="border">{{item.name }}</td>
      <td class="border"> 
        <button (click)='removeTask(i)' class="btn btn-info"> Delete</button>
        <button (click)='editTask(item.id)' class="todo-button-remove-inside"> Edit</button>
        <!-- <button (click)='backTask(item.id)' class="todo-button-remove-inside"> Delete other method</button> -->
<!--         
      </td>
    </tr>
  </table> -->

<div class="container">
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tasks</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list; let i=index">
              <td>{{item.name }}</td>
              <td><button (click)='removeTask(i)' class="btn btn-danger"> Delete</button></td>
              <td><button (click)='editTask(item.id)' class="btn btn-warning"> Edit</button></td>           
          </tr>
      </table>
    
    </div>
  </div>
</div>

  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Tasks</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; let i=index">
        <th scope="row">{{item.name }}</th>
        <td><button (click)='removeTask(i)' class="btn btn-info"> Delete</button></td>
        <td><button (click)='editTask(item.id)' class="btn btn-success"> Edit</button></td>
      </tr>
  </table> -->
